server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: [GET, POST, PUT, DELETE, OPTIONS]
            allowedHeaders: "*"

      routes:
        - id: franquicias-backend
          uri: "http://localhost:8082"
          predicates:
            - Path=/api/**
